body {
    font-family: Rubik, Arial, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    overflow-x: hidden;
    color: #607289;
    background-color: rgb(217, 247, 247);
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #ddd;
}


h5 {
    font-size: 1rem;
    line-height: 1.375;
    font-family: Rubik, Arial, sans-serif;
    font-weight: 500;
    color: #030929;
}

a {
    color: #edeef5;
    font-weight: 500;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #13161b;
    text-decoration: none;
}

footer {
    background: #ebf4fa;
}


.card-group {
    display: flex;
    justify-content: center;
    gap: 20px; 
}

.card upperHalf {
    width: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card lowerHalf {
    width: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.card img {
    max-width: 100%;
    height: auto;
}

.card-body {
    padding: 15px;
}

header {
    background-color: #20211e;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.subject {
    margin: 20px;
}

section#outline {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}

section#outline h3 {
    color: #384859;
    font-size: 24px;
}

section#outline ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

section#outline li {
    margin-bottom: 10px;
}

button.details-button {
    background-color: #3a5064;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

p.module-details {
    display: none;
}

#faculty {
    margin: 20px;
}
